---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="about">
  <div class="pb-5">
    <div class="text-5xl font-bold">What is Presto?</div>
    <div class="text-3xl py-3 font-bold">Portable Game Installer to jump start your game collection</div>
    <div class="py-2">
      <text class="text-lg">
        Every notice how getting things installed is a pain? Well... this helps you get things going so that you can play faster.
      </text>
    </div>
    <div class="mt-8">
      <a href="https://github.com/presto-game-installer/presto-game-installer.github.io" target="_blank" class="btn btn-outline">
        Download Now!
      </a>
    </div>
  </div>
</BaseLayout>
