---
import BaseLayout from "../layouts/BaseLayout.astro";
import SetBaseDirectory from "../components/settings/SetBaseDirectory.astro";
---

<BaseLayout sideBarActiveItemID="settings">
  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Settings</div>
    </div>
    <SetBaseDirectory/>
  </div>
</BaseLayout>
