---
const { 
    gamePathTitle,
    gamePlatforms,
} = Astro.props;
const buttonClasses = `btn hidden play play-${gamePathTitle}`;
---
<script is:inline>
    if(globalThis.presto?.state != 'loaded') {
        console.debug("Presto:: Settings not loaded yet");
        window.addEventListener('presto:settings-loaded', () => {
            readyPlayButton();
        });
    } else {
        readyPlayButton();
    }

    function readyPlayButton() {
        const button = document.querySelector("button.play");
        const gamePathTitle = button.dataset.gamePathTitle;

        // get current settings
        let currentSettings = globalThis.presto.currentSettings;

        if(currentSettings?.installed) {
            const installedGames = Object.keys(currentSettings.installed);
            if(installedGames.includes(gamePathTitle)) {
                button.classList.remove("hidden");
                button.removeAttribute("inert");
            }
        }

        button.addEventListener("click", async () => {
            const gamePlatforms = JSON.parse(button.dataset.gamePlatforms);

            const currentPlatform = globalThis.presto.currentPlatform;
            
            let currentSettings = globalThis.presto.currentSettings;
            const installPath = currentSettings?.installPath

            const gameWorkingDirAppend = gamePlatforms[currentPlatform].gameWorkingDirAppend;
            console.debug("Presto:: gameWorkingDirAppend", gameWorkingDirAppend);
            
            let gamePath =  installPath + "/" + button.dataset.gamePathTitle + "/";

            if (gameWorkingDirAppend != null) {
                gamePath = gamePath + gameWorkingDirAppend;
            }

            const gameExecutable = gamePlatforms[currentPlatform].gameExecutable;

            console.debug("Presto:: gameExecutable", gameExecutable);
            console.debug("Presto:: gamePath", gamePath);
            console.debug("Presto:: Play button clicked");

            result = await globalThis.presto.functions.genericInvoke('run_executable', { 
                "gameExecutable": gameExecutable,
                "installPath": gamePath
            });

            console.debug("Presto:: result", result);
        });
    }
</script>
<button 
    inert 
    class={buttonClasses}
    data-game-path-title={gamePathTitle}
    data-game-platforms={JSON.stringify(gamePlatforms)}
>
    Play
</button>