---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
import { IS_CLIENT } from "../config";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base mb-4" id="home" href="/">Presto</a></li>
    {!IS_CLIENT && <li><a class="py-3 text-base mb-4" id="about" href="/about">What is Presto?</a></li>}
    <li><a class="py-3 text-base mb-4" id="available-games" href="/available-games">Available Games</a></li>
    {IS_CLIENT && <li><a class="py-3 text-base mb-4" id="installed-games" href="/installed-games">Installed Games</a></li>}
    {IS_CLIENT && <li><a class="py-3 text-base mb-4" id="settings" href="/settings">Settings</a></li> }
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
