---
---
<div id="download-progress" class="fixed bottom-0 left-0 right-0 bg-base-300 p-4 transform translate-y-full transition-transform duration-300 ease-in-out">
    <div class="flex items-center justify-between max-w-4xl mx-auto">
      <div class="flex-1 mr-4">
        <div class="text-sm mb-1 flex justify-between">
          <span id="download-filename">filename.exe</span>
          <span id="download-percentage">0%</span>
        </div>
        <div class="w-full bg-base-100 rounded-full h-2.5">
          <div id="download-bar" class="bg-primary h-2.5 rounded-full" style="width: 0%"></div>
        </div>
      </div>
    </div>
</div>